@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

$font-family: 'Noto Sans', sans-serif;

$text-color: #333;
$text-color-2: #828282;
$white-color: #fff;
$bg-color: #fafafb;
$button-color: #2F80ED;
$border-color: #bdbdbd;
$border-color-2: #e0e0e0;

$radius-1: 8px;
$radius-2: 12px;

$weight-bold: 600;
$weight-normal: 400;
$letter-spacing: -0.56px;